 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Barry's Old Fashioned Burger</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#burgers">Burgers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sides">Sides</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#kids">Kid's Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#specials">Specials</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="img/OFB.png" style="width:50%"/>
                <div class="row">
                    <div class="hours-head col-md-4">
                        <p>M-F 10:30 AM - 8:00 PM<br>
                        Sa  11:00 AM - 6:00 PM<br>
                        Su  Closed</p>
                    </div>
                    <div class="location-head col-md-4 col-md-offset-4">
                        <p>405-948-7878 <br>
                           3124 N. May <br>
                           Okc, OK</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                    {{> submenu menu.submenus.[0]}}
                    
                    
                </div>
            </div>
        </div>
    </section>

    <section class="bg-sides">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {{> submenu menu.submenus.[1]}}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {{> submenu menu.submenus.[2]}}
                </div>
            </div>
        </div>
    </section>

    <section class="bg-specials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {{> submenu menu.submenus.[3]}}
                </div>
            </div>
        </div>
    </section>

    <section id="location" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Location</h1>
                    <hr class="primary">


                    <a href="https://maps.google.com?q=Barrys+Grill+3124+N+May+Ave+Oklahoma+City+OK+73112">
                    <p>Barry's Old Fashioned Burger <br>
                           3124 N. May <br>
                           OKC, OK</p></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Section -->
    <div id="map"></div>


    <section id="contact" class="bg-call">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Give us a ring!</h2>
                    <hr class="primary">
                    <h3 ><a href="tel:405-948-7878" class="phone">405-948-7878</a> </h3>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/index.js"></script>