 <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Barry's Burgers</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Menu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Location</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="img/OFB.png" style="width:50%"/>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Menu</h2>
                    <hr class="light">
                    <div class="menu-item">
                        <div class="menu-header row">
                            <h3 class="menu-name col-md-4">Hamburger</h3>
                            <h3 class="menu-price col-md-3 col-md-offset-5">$4.28</h3>
                        </div>

                        <div class="menu-text row">
                            <p class="text-faded col-md-10 col-md-offset-1">Fresh quarter pound of beef grilled to perfection on a sesame seed bun, topped with crisp green shredded lettuce, tomato, onion, pickles and your choice of dressing.</p>
                        </div>
                    </div>


                    <div class="menu-item">
                        <div class="menu-header row">
                            <h3 class="menu-name col-md-4">Cheeseburger</h3>
                            <h3 class="menu-price col-md-3 col-md-offset-5">$4.48</h3>
                        </div>

                        <div class="menu-text row">
                            <p class="text-faded col-md-10 col-md-offset-1">Fresh quarter pound of beef grilled to perfection on a sesame seed bun, topped with crisp green shredded lettuce, tomato, onion, pickles and your choice of dressing.</p>
                        </div>
                    </div>

                        
                    
                    
                </div>
            </div>
        </div>
    </section>

    <section id="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Location</h2>
                    <hr class="primary">
                    <p>Where are we?</p>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="bg-ofb-yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Contact us!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>