.bg-ofb-red {
  background-color: #ee5031;
}
.bg-ofb-green {
  background-color: #92a905;
}
.bg-ofb-brown {
  background-color: #6e1603;
}
.bg-ofb-yellow {
  background-color: #fbb03b;
}
.bg-sides {
  width: 100%;
  min-height: auto;
  background-position: center;
  background: url('../img/pots.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-kids {
  background-color: #5C4633;
}
.bg-specials {
  width: 100%;
  min-height: auto;
  background-position: center;
  background: url('../img/special.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.submenu-title {
  color: white;
  font-weight: bold;
}
.menu-item .menu-header .menu-name {
  font-weight: bold;
}
.menu-item .menu-text {
  text-align: left;
}
.phone {
  color: black;
}
.phone:hover {
  text-decoration: none;
}
.phone:focus {
  text-decoration: none;
}
