.bg-ofb-red {
  background-color: #ee5031;
}
.bg-ofb-green {
  background-color: #92a905;
}
.bg-ofb-brown {
  background-color: #6e1603;
}
.bg-ofb-yellow {
  background-color: #fbb03b;
}
header .hours-head p {
  margin: 0;
  text-align: center;
}
header .location-head p {
  margin-bottom: 0;
  text-align: center;
}
.bg-sides {
  color: white;
  width: 100%;
  min-height: auto;
  background-position: center;
  background: url('../img/pots.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-kids {
  color: white;
  background-color: #84C3C1;
}
.bg-specials {
  color: white;
  width: 100%;
  min-height: auto;
  background-position: center;
  background: url('../img/special.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-call {
  background-color: #D3E8AF;
}
.submenu-title {
  color: white;
  font-weight: bold;
}
.menu-item .menu-header .menu-name {
  font-weight: bold;
}
.menu-item .menu-text {
  text-align: left;
}
#location {
  padding: 10px;
}
#location p {
  margin: 0;
}
#map {
  width: 100%;
  height: 400px;
}
.phone {
  color: black;
}
.phone:hover {
  text-decoration: none;
}
.phone:focus {
  text-decoration: none;
}
