@import "variables.less";
@import "mixins.less";

.bg-ofb-red {
	background-color: @ofb-red;
}

.bg-ofb-green {
	background-color: @ofb-green;
}

.bg-ofb-brown {
	background-color: @ofb-brown;
}

.bg-ofb-yellow {
	background-color: @ofb-yellow;
}

.bg-sides{
	width: 100%;
	min-height: auto;
	background-position: center;
	background: url('../img/pots.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.bg-kids{
	background-color: #5C4633;
}

.bg-specials{
	width: 100%;
	min-height: auto;
	background-position: center;
	background: url('../img/special.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.submenu-title{
	color: white;
	font-weight: bold;
}
.menu-item {
	.menu-header {
		.menu-name {
			//color: #ddd;
			font-weight: bold;
		}

		.menu-price {
			//text-align: right;
		}
	}

	.menu-text{
		text-align: left;
	}


}

.phone{
	color: black;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}