@import "variables.less";
@import "mixins.less";

.bg-ofb-red {
	background-color: @ofb-red;
}

.bg-ofb-green {
	background-color: @ofb-green;
}

.bg-ofb-brown {
	background-color: @ofb-brown;
}

.bg-ofb-yellow {
	background-color: @ofb-yellow;
}

.menu-item {
	.menu-header {
		.menu-name {
			//text-align: left;
		}

		.menu-price {
			//text-align: right;
		}
	}

	.menu-text{
		text-align: left;
	}


}